*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(69,69,69);
}

/* First Part */
.first {
    color:rgb(216, 235, 243);
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.first p{
    font-style: italic;
}

.Htitle{
    font-style: italic;
    font-size: 100px;
}

/*//////////////////////// Main ////////////////////////// */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* Input */

#InText{

    padding: 10px;
    min-width: 500px;
    max-width: 1000px;

    min-height: 100px;
}

/* Parameters */

.Parameters{
    display: flex;
    margin: 10px;
}

.Parameters p{
    color:aliceblue;
    margin-right: 10px;
}

#Button{
    width: 100px;
    height: 30px;
    border-radius: 10px;

}

#Button:hover{
    background-color: aqua;
    transition: .9s;
}

#Key{
    width: 50px;
    margin-right: 50px;
    height: 20px;
}

.Radio{
    color:aliceblue;
    margin-right: 50px;
}

.Radio input{
    margin-right: 10px;
}

/* OUTPUT */

.Output{
    font-size: large;
    margin-top: 100px;
    color:aliceblue;
    margin-bottom: 100px;
}

#OutText{
    padding: 5px;
    
    min-width: 500px;
    min-height: 100px;

}


#btncopy{
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 10px;
}